
@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Timo Kiviranta";
}


<h2>Contact</h2>
Timo Kiviranta


<address>
    <strong>Email:</strong> <a href="mailto:ttkiviranta@gmail.com">ttkiviranta@gmail.com</a><br />
</address>