@{
    ViewData["Title"] = "Azure Service Fabric - Azurelab";
}
<div ng-controller="AzurelabAppController" ng-init="refresh()">
    <div class="container">
        <div class="row top-buffer" style="background-color: #e8e8e8; padding: 10px">
            <div class="col-12">
                <div class="text-center">
                    <h2 style="color: rgb(50, 50, 50)">
                        Azurelab using Azure Service Fabric
                    </h2>
                    <img src="/images/Azurelab.svg" style="height: 400px; margin-right: 50px">

                </div>
            </div>
        </div>


        <div class="footer border col-10">
            <div class="row">
                <div class="col-4 offset-1">
                    <span id="statusText" />
                </div>
                <div class="col-5 offset-2">
                    Get the code here:<br />
                    <a href="https://github.com/Azure/service-fabric-mesh-preview-pr">https://github.com/Azure/service-fabric-mesh-preview-pr</a>
                </div>
            </div>
        </div>
    </div>
</div>
